<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>914802671440-tlcri05h4k8g62epd2d5619tjfdoa786.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914802671440-tlcri05h4k8g62epd2d5619tjfdoa786</string>
	<key>API_KEY</key>
	<string>AIzaSyAlo7RNPWmvOKB655Tt94877YGURFu7RPE</string>
	<key>GCM_SENDER_ID</key>
	<string>914802671440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aminbenarieb.muslim-quiz</string>
	<key>PROJECT_ID</key>
	<string>islamic-quiz-dating</string>
	<key>STORAGE_BUCKET</key>
	<string>islamic-quiz-dating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914802671440:ios:f83e5f780fa3cba0</string>
	<key>DATABASE_URL</key>
	<string>https://islamic-quiz-dating.firebaseio.com</string>
</dict>
</plist>